{
    "presets": [
        "es2015",
        "stage-0",
        "react"
    ],
    "plugins": [
        "lodash",
        "transform-decorators-legacy",
        "transform-runtime"
    ],
    "env": {
        "cjs": {
            "plugins": ["add-module-exports"]
        }
    }
}
