{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": false,
    "es6": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "extends": "airbnb",
  "rules": {
    "no-var": 1,
    "quotes": [1, "single"],
    "jsx-quotes": 1,
    "prefer-arrow-callback": 1,
    "prefer-const": 1,
    "prefer-spread": 1,
    "new-cap": 0,
    "comma-dangle": [1, "always-multiline"],
    "no-use-before-define": [2, "nofunc"],
    "func-style": [2, "expression", {"allowArrowFunctions": true}],
    "react/prop-types": 1,
    "react/sort-comp": 0,
    "react/wrap-multilines": 0,
    "no-console": 1,
    "camelcase": 0,
    "eqeqeq": [0, "smart"]
  }
}
