#home-page {
	$std-margin: 20px;

	header {
		background: linear-gradient(to bottom, #4B78CD 0%, #65C2E7 100%);
		padding: 100px 0px;
		text-align: center;
		color: white;

		h1 {
			font-size: 30px;
			font-weight: 400;
			margin-bottom: $std-margin;
		}

		h2 {
			font-size: 18px;
			font-weight: 400;
			opacity: 0.7;
			margin-bottom: $std-margin;
		}

		.header-link {
			color: white;
			text-decoration: none;
			margin-right: 10px;
			display: inline-block;
			box-sizing: border-box;
			padding: 0px 20px;
			height: 40px;
			line-height: 40px;
			border-radius: 5px;
			border: 1px solid white;

			&:last-child {
				margin-right: 0px;
			}

			&:hover {
				background: rgba(255, 255, 255, 0.2);
			}
		}
	}

	.body-section {
		padding: 50px 0;

		h1, h2, h3, pre, p, ul, ol {
			margin-bottom: 10px;
		}

		pre {
			padding: 20px;
			border-radius: 5px;
		}
	}
}

.example-dialog {
	h1, p {
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0px;
		}
	}
}
